.box{
  width: 400px;
  height: 350px;
  border: 5px solid blue;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #005;
}
.inp{
  width: 300px;
  display: block;
  margin: auto;
  height: 40px;
  text-align: center;
  border: none;
}
.btn{
  width: 200px;
  height: 40px;
  display: block;
  margin: auto;
}