.cart__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cart__item img {
    margin-right: 10px;
  }
  
  .control {
    display: flex;
    align-items: center;
  }
  
  button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin: 0;
    margin-right: 10px;
  }
  
  span {
    font-weight: bold;
    margin: 0 10px;
  }
  .cart__item p:last-child {
    margin-top: 10px;
    font-weight: bold;
  }
  